@import "../../node_modules/bootstrap/scss/functions";
$primary-color: #3498db;
$secondary-color: #2ecc71;


body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: white;
}

h1 {
  color: $secondary-color;
}

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/bootstrap";
